

<div class="card">
  <h2><%= @flat.name %></h2>
  <%= @flat.address %>
</div>

<div class="card">
  <h3>A bit more about this flat...</h3>
  <%= @flat.description %>
</div>

<div class="card">
  <h3>Details</h3>
  <%= @flat.number_of_guests %>
  <%= @flat.price_per_night %>
</div>

<%= link_to "Back to list", flats_path %>